.card-container {
    display: flex;
    align-items: center;
    gap: 3px;
    /* margin-top: 10rem; */
    width: 100%;
}

.card {
    width: 1.2rem;
    flex: 1;
    margin-top: 0px;
    height: 100px;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    transition: 0.5s ease-in-out;
}